<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ken's Secure Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Ken's Secure Notes</h1>
    </header>

    <main class="button-container">
            {% if session.user_id %}
                <a href="{{ url_for('notes') }}" class="btn">View Your Notes</a>
                <form action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="btn">Logout</button>
                </form>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn">Login</a>
                <a href="{{ url_for('register') }}" class="btn">Register</a>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div class="flash-messages-container">
                      {% for category, message in messages %}
                        <div class="flash-box flash-{{ category }}">{{ message }}</div>
                      {% endfor %}
                    </div>
                  {% endif %}
            {% endwith %}
    </main>

    <footer>
        <p>&copy;2025 Eugene Jensen</p>
    </footer>

</body>
</html>
