<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if note %}
            <title>Edit Note</title>
        {% else %}
            <title>Create Note</title>
        {% endif %}
        <title>Secure Note</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% if note %}
            <h1>Edit Your Note</h1>
        {% else %}
            <h1>Create a New Note</h1>
        {% endif %}
        <main class="flex-container">
            <form method="post"
                  action="{% if note %}{{ url_for('edit_note', note_id=note_id) }}{% else %}{{ url_for("new_note") }}{% endif %}"
                  class="form-container">
                <div class="form-group">
                    <label for="note_content">Note Content</label>
                    <textarea id="note_content" name="note_content" class="form-input" required minlength="1" rows="10">
                    {% if note %}{{ note[2] }}{% endif %}
                    </textarea>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn">Save</button>
                    <a href="{{ url_for("notes") }}" class="btn btn-secondary">Cancel</a>
                    {% if note %}
                        <button type="submit"
                                formaction="{{ url_for('delete_note', note_id=note_id) }}"
                                class="btn btn-secondary">Delete Note</button>
                    {% endif %}
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages-container">
                            {% for category, message in messages %}<div class="flash-box flash-{{ category }}">{{ message }}</div>{% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </form>
        </main>
        <footer>
            <p>&copy;2025 Eugene Jensen</p>
        </footer>
    </body>
</html>
